Package: blackice-traffic
Version: _version_
Architecture: amd64
Maintainer: Vladislav Ananev <nexus.riot@gmail.com>
Description:Simple Network Traffic Visualizer
Installed-Size: 60054
Depends: python3 (>=3.8), python3-geoip2, python3-pyqt5, python3-pyqt5.qtwebengine
